@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__nuxt {
  height: 100%;
}

body {
  @apply bg-neutral-100 text-neutral-900 antialiased;
}

.dark body {
  @apply bg-neutral-950 text-neutral-100;
}

.editor-content .ProseMirror {
  @apply pl-1 outline-none;
}

.editor-content .ProseMirror-focused {
  @apply caret-neutral-900 dark:caret-neutral-100;
}
